Импортируем библиотеку pandas как pd. Загрузим датасет bookings.csv с разделителем ;. Проверим размер таблицы, типы переменных, а затем выведем первые 7 строк, чтобы посмотреть на данные.

In [103]:
import pandas as pd
df = pd.read_csv(r'C:\Users\nastk\Downloads\2_bookings.csv', sep =';')
df.shape #размер таблицы

(119390, 21)

In [94]:
df.dtypes #типы переменных

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [95]:
df[:7]

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Приводим названия колонок к нижнему регистру и заменяем пробелы на знак нижнего подчеркивания.

In [104]:
def replace_and_low(name):
    name = name.replace(' ', '_').lower()
    return name

df = df.rename(columns = replace_and_low)
df

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Пользователи из каких стран совершили наибольшее число успешных бронирований? (топ-5)

In [115]:
success_book = df.query('is_canceled == 0').groupby('country').country.value_counts().sort_values(ascending = False)

In [117]:
success_book[:5]

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

На сколько ночей в среднем бронируют отели типа City Hotel? Resort Hotel? Запишем полученные значения в пропуски с точностью до 2 знаков после точки.

In [123]:
nights_in_hotel = df \
    .query('hotel == "City Hotel" or hotel == "Resort Hotel"') \
    .groupby('hotel', as_index = False).agg({'stays_total_nights' : 'mean'}) \
    .round(2)
nights_in_hotel

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [135]:
overbooking = df.query('assigned_room_type != reserved_room_type').shape[0]
overbooking

14917

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [142]:
popular_month_2016 = df.query('arrival_date_year == 2016').groupby('arrival_date_month').arrival_date_month.value_counts().sort_values(ascending = False)
popular_month_2016

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: count, dtype: int64

In [143]:
popular_month_2017 = df.query('arrival_date_year == 2017').groupby('arrival_date_month').arrival_date_month.value_counts().sort_values(ascending = False)
popular_month_2017

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: count, dtype: int64

Сгруппируем данные по годам, а затем проверим, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [159]:
cancel_cityhotel = df.query('hotel == "City Hotel" and is_canceled == 1') \
    .groupby(['arrival_date_year']).arrival_date_month.value_counts()
cancel_cityhotel

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: count, dtype: int64

Посмотрим на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [161]:
max_mean = df.agg({'adults' : 'mean', 'children' : 'mean', 'babies' : 'mean'})
max_mean

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создадим колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшей?

In [165]:
df['total_kids'] = df.children + df.babies
mean_child = df.groupby('hotel', as_index = False).agg({'total_kids' : 'mean'})
mean_child

          hotel  total_kids
0    City Hotel    0.096311
1  Resort Hotel    0.142586

Необходимо посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создадим переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверим, среди какой группы пользователей показатель оттока выше.

In [179]:
df['has_kids'] = df.total_kids != 0
churn_rate_with_kids = df.query('has_kids == True and is_canceled == 1').shape[0] *100 / df.query('has_kids == True').shape[0]
churn_rate_with_kids = round(churn_rate_with_kids,2)
churn_rate_with_kids

34.95

In [178]:
churn_rate_without_kids = df.query('has_kids == False and is_canceled == 1').shape[0] *100/ df.query('has_kids == False').shape[0]
churn_rate_without_kids = round(churn_rate_without_kids,2)
churn_rate_without_kids

37.22